.benefit {
  text-align: center;

  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__image {
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(10px);
  }

  @include phones {
    margin-bottom: 0;
    margin-right: rem(20px);
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  border-radius: 50%;
  background: $lightGray;
  overflow: hidden;
}

.benefit__icon {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: rem(14px);

  @include tablets {
    margin-bottom: rem(10px);
  }
}