.fullscreen-menu {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fullscreen-menu;
  height: 100%;
  width: 100%;
  background: #313436;
  overflow-x: hidden;
  opacity: .95;
  padding: 15% 0 0;

  &--active {
    display: block;
  }
}

.fullscreen-menu .menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  line-height: 2;
  color: #fff;
  position: relative;
}

.fullscreen-menu__close-btn {
  position: absolute;
  top: 4%;
  right: 4%;
}