.section {
  height: 100%;
  min-height: rem(650px);

  &--gray {
    background-color: $lightGray;
  }
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;

  &--color-white {
    color: #fff;
  }

  @include phones {
    font-size: 36px;
  }

}