.btn {
  font-weight: bold;
  padding: 18px 40px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100px;
  line-height: 1;
  border: none;
  cursor: pointer;
  
  &--red {
    background: $lighterRed;
    color: #fff;

    &:hover {
      background: $darkerRed;
    }
  }

  &--block {
    display: block;
  }

  &--transparent {
    background: none;
    color: #999;
    text-transform: none;
    padding: 0 14px;

    &:hover {
      color: $darkerRed;
    }

    @include tablets {
      padding: 0 50px;
    }

    @include phones {
      padding: 0 30px;
    }
  }
}
