.colors-acco {
  background: url(../../img/decor/colors-bg.png) center bottom / cover no-repeat, rgba(0, 0, 0, 0.9);
  position: relative;
}

.colors-acco__title {
  position: absolute;
  top: 10%;
  left: 5%;
}