.fixed-menu {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 3%;
  z-index: $z-fixed-menu ;
}

.fixed__menu-item {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  &--active, &:hover {
    .fixed-menu__link{
      border-color: #E42424;

      &:before {
        background: #E42424;
      }
    }
  }
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}