.hamburger {
  width: 25px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  z-index: $z-fixed-menu ;

  @include tablets {
    display: inline-flex;
    position: fixed;
    top: 4%;
    right: 4%;
  }
}

.hamburger__plank {
  display: block;
  background: #000;
  height: 4px;
  border-radius: 10px;
}
