.menu-acco {
  display: flex;
  justify-content: flex-end;
  z-index: $z-colors-menu-acco;
  height: 100%;
}

.menu-acco__item {
  display: flex;

  &.active {

    @include phones {
      order: -1;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

    .menu-acco__content {
      width: 524px;
      color: #fff;
      padding: 30px 15% 10px 38px;
      position: relative;
      z-index: $z-colors-menu-active-item;

      & p {
        position: relative;
        z-index: $z-colors-menu-active-item;
      }

      @include tablets {
        width: calc(100% - #{$menuAccoTriggerWidthDesktop});
        padding-top: 60px;
        padding-right: 8%;
      }

      @include phones {
        width: calc(100% - #{$menuAccoTriggerWidthMobile});
      }
    }
  }
}

.menu-acco__trigger {
  width: $menuAccoTriggerWidthDesktop;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;

  @include phones {
    width: $menuAccoTriggerWidthMobile;
  }
}

.menu-acco__trigger-text {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  white-space: nowrap;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.menu-acco__content {
  height: 100%;
  width: 0;
  overflow: hidden;
  background: rgba(51, 53, 55, 0.9);
  backdrop-filter: blur(5px);
  transition: color 0.2s 0.1s;
  color: rgba(255, 255, 255, 0);
  position: relative;
}

.menu-acco__close-menu {
  position: absolute;
  top: 26px;
  right: 32px;

  @include tablets {
    right: 20px;
  }

  @include phones {
    right: 10px;
  }
}
