.order {
  background: url(../../img/decor/form-background.svg) center bottom / cover no-repeat;
}

.order__container {
  position: relative;
  height: 100%;
  justify-content: center;
}

.order__title {
  margin-bottom: 40px;
}
