
.products-slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  &:before {
    position: absolute;
    bottom: rem(-25px);
    right: 2%;
    width: rem(38px);
    height: rem(38px);
    content: url("../../img/decor/rectangle2.png");
  }
}

.products-slider__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 95%;

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
    max-width: 95%;
  }
}

.products-slider__arrow {
  position: absolute;
  display: block;
  top: 50%;

  &.arrow-right {
    right: 0;
  }

  @include tablets {
    top: 22%;
  }
}
