.section {
  height: 100vh;
  min-height: 650px;

  &--gray {
    background-color: $lightGray;
  }
}

.section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;

  &--color-white {
    color: #fff;
  }
}