
.slider__container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.slider__img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.slider__img-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 40%;
  background: #fff;
  position: relative;
}

.slider__img-elem {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.slider__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 60px;
}

.slider__title {
  text-align: left;
  font-size: 36px;
  line-height: 1.2;
}

.slider__desc {
  margin-bottom: rem(45px);
}

.slider__short-specs-list {
  display: flex;
  margin-bottom: 45px;
}

.slider__short-specs-item {
  display: flex;
  flex-direction: column;
  margin-right: rem(100px);

  &:last-child {
    margin-right: 0;
  }
}

.slider__short-specs-item-desc {
  font-weight: bold;
}

.slider__item-price-order {
  display: flex;
}

.slider__item-price {
  font-size: 36px;
  margin-right: 24px;
}