.slide {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.slide__img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.slide__img-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 90%;
  max-width: 460px;
  background: #fff;
  position: relative;
}

.slide__svg-image-circle {
  fill: #fff;
}

.slide__img-elem {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 80%;
  width: 80%;
  transform: translate(-50%, -50%);
}

.slide__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 60px;
}

.slide__title {
  text-align: left;
  font-size: 36px;
  line-height: 1.2;
}

.slide__desc {
  margin-bottom: rem(45px);
}

.slide__short-specs-list {
  display: flex;
  margin-bottom: 45px;
}

.slide__short-specs-item {
  display: flex;
  flex-direction: column;
  margin-right: rem(100px);

  &:last-child {
    margin-right: 0;
  }
}

.slide__short-specs-item-desc {
  font-weight: bold;
}

.slide__item-price-order {
  display: flex;
  flex-wrap: wrap;
}

.slide__item-price {
  font-size: 36px;
  margin-right: 24px;
  white-space: nowrap;
}