$containerWidth: 940px;
$baseFontSize: 16px;

// breakpoints
$tablets: 768px;
$phones: 480px;

// colors
$lightGray: #F5F5F5;
$lighterRed: #E01F3D;
$darkerRed: #CA1B36;

// z-indexes
$z-colors-menu-acco: 20;
$z-colors-menu-active-item: 150;
$z-slider-buttons: 20;
$z-fixed-menu: 100;
$z-fullscreen-menu: 120;

// elements
$menuAccoTriggerWidthDesktop: 100px;
$menuAccoTriggerWidthMobile: 90px;

// setups
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "media";
@import "layout";

// components
@import "components/btn";
@import "components/arrow";
@import "components/container";
@import "components/hero";
@import "components/section";
@import "components/header";
@import "components/top-menu";
@import "components/hamburger";
@import "components/features";
@import "components/feature";
@import "components/headline";
@import "components/benefits";
@import "components/benefit";
@import "components/products-slider";
@import "components/slide";
@import "components/params-button";
@import "components/team";
@import "components/colors-acco";
@import "components/menu-acco";
@import "components/reviews";
@import "components/interactive-avatar";
@import "components/player";
@import "components/order";
@import "components/form";
@import "components/radio";
@import "components/map";
@import "components/footer";
@import "components/contacts";
@import "components/socials";
@import "components/fixed-menu";
@import "components/fullscreen-menu";
@import "components/modal";


